<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>ISIS2503</title>
        {% endblock %}
    </head>
<br>
    <br>
        <br class="navbar navbar-expand-lg navbar-light bg-light">

            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                <img src="/static/media/widmylogo.jpg" width="45" height="45" alt="">
                </a>
            </nav>    

          <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="/">
                  Widmy
              </a>
          </nav>
        </br>
    
    </br>
</br>
    <form action="http://localhost:5000/report" method ="POST">
    <p>Username: </p>
    <p>Name<input type="text" name="Name"></p>
    <p>Age<input type="text" name="Age"></p>
    <p>Nationality<input type="text" name="Joinig Date"></p>

    <p><input type="submit" value="submit"></p>
    </form>
    
</body>
</html>